body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el enlace de regreso */
.back-link {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}

.back-link a {
    text-decoration: none;
    color: #0066cc;
}

.back-link a:hover {
    text-decoration: underline;
}